<!DOCTYPE html>
<html>
<head>
    <title>Helmet Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Helmet Detection System</h1>

    <form action="/predict" method="POST" enctype="multipart/form-data">

        <input type="file" name="image" required>

        <br><br>

        <button type="submit">
            Detect Helmet
        </button>

    </form>

    {% if image %}

    <h2>Result</h2>

    <img src="{{ url_for('static', filename=image) }}" width="600">

    {% endif %}

</div>

</body>
</html>